@using learnDotNetCore.Models
@model Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>
    <form method="post">

        <input asp-for="Name" />
        <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        <input type="submit" name="save" value="Save" />

    </form>
</body>
</html>
