@model learnDotNetCore.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>@Model.Id</div>
</body>
</html>
